<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <% messages.forEach((message) => { %>
        <div class="wrapper">
            <h1>Name: <%= message.user %> </h1>
            <p>Message: <%= message.text %></p>
            <p>Dated: <%= message.added %></p>
            <a href="/<%= message.user %>">Open in new page</a>
        </div>
    <% }) %>
    <br>
    <a href="/new">Add New Message</a>
</body>
</html>